body {
    display: flex;
    background-color: #D4DEDDff;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

/* Font */
.coiny-regular {
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*Icon styling*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 15
}
.top-selection{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
/* selection */
.month-bar {
  display: flex;
  justify-content: left;
  gap: 24px;
  margin-left: 200px;
}
.Month{
  font-size: 72px;
}
.month-bar button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* tabs css */
.tabs-bar {
  display: flex;
  margin-right: 100px;
}

.tabs-bar .tab{
  border: 1px outset;
  width: 162px;
  height:45px;
  background-color: white;
  text-align: center;
  font-size: 28px;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.25);
}

.tabs-bar .tab.active{
  background-color: rgba(170, 170, 170, 0.6667);
}
/* Dashboard content */
.dashboard{
  display:flex;
  gap:24px;
}

/* Summary[left-block content] */
.summary{
  display: grid;
  margin-left: 100px;
}

.labelSum{
  font-size: 28px;
}

.summary-content{
  display: flex;
  width: 1155px; 
  height: 683px; 
  background: #A5AAAA;
}

.summaryVisual {
  width: 500px;      /* adjust as needed */
  height: 683px;     /* adjust as needed */
}

.moneyStatusBar{
  width: 500px;
  height: 103px;
}

.moneyPieChart{
  width: 500px;
  height: 480px;
}

.newTransactionButton{
  width: 500px;
  height: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
}











.rmLabel{
  text-align: right;
  padding: 15px;
}
.rmLabel label{
  font-size: 28px;
  color: white;
}
.calcIncomeExpenses {
  width: 655px;      /* adjust as needed */
  height: 683px;     /* adjust as needed */
}

.transactionButton{
  border:none;
  width:250px;
  height:50px;
  background-color: #D9D9D9;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.25);
  font-size:24px;
  color: white;
}

.transactionButton:hover{
  background-color: #999696;
}

/* Last transaction[right-block content] */
.labelLastTransaction{
  font-size: 28px;
}
.trans-content{
  display: grid;
  width: 529px; 
  height: 683px; 
  background: #A5AAAA;
}

.commonLabel{
  display: flex;
  width: 529px;
  height:40px;
  justify-content: space-between;
  padding: 15px;
}

.commonLabel label{
  font-size: 28px;
  color: white;
}
