@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Jua&family=Zen+Maru+Gothic&display=swap');
body {
    background-color: #6C858Dff;
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: "Zen Maru Gothic", sans-serif;
    margin-top: 8rem;
    padding: 0;
}

.title {
    font-family: 'Agbalumo', cursive;
    font-size: 32px;
    color: #6C858Dff;
}

.form {
    border-radius: 15px;
    padding: 30px;
    max-width: 350px;
    margin: 50px auto;
    text-align: center;
}

.form input {
    font-family: "Zen Maru Gothic", sans-serif;
    color:#2A3B47ff
}

h3 {
    font-family: 'Agbalumo', cursive;
    color: white;
    font-size: 30px;
}

p {
    font-family: "Zen Maru Gothic", sans-serif;
    color: white;
    font-size: 15px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #563921;
    border-radius: 8px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: white;
    color: 2A3B47ff;
    border: 2px solid 2A3B47ff;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #d6d6d6;
}

label {
    font-size: 15px;
    color: #D4DDDDff;
    margin-left: 25px;
}

.wrap{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.wrap button{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: white;
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 15px;
    cursor: pointer;
}
a {
    color:  #D4DDDDff;
    text-decoration-style: underline;
    font-size: 15px;
}

a:hover {
    cursor: pointer;
}